libraries/
logitech_toys/data/song.mp3
gsvideo-capture
*.xcf
rp5/lib/
flixel/
of/
pd/
sketch_*/
.DS_store
.build/
*.zip
*/upload
*.class
*.sb
**/application.macosx/
*.jar

# other's stuff
Empathy/
GettingStartedCapture/
OSC_Data_Monitor/
Processing/examples/
voronoi_sample/
